# Twilio Credentials
TWILIO_ACCOUNT_SID=AC9850ab745d29cbf41f16cf69bc61131c
TWILIO_AUTH_TOKEN=5e63a065118e90c6b9177e7c74f238ad
TWILIO_FROM_NUMBER=+12314420857

# Email SMTP Settings
EMAIL_HOST_USER=singup240@gmail.com
EMAIL_HOST_PASSWORD=*******
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# Django secret (optional)
SECRET_KEY=your_django_secret_key_here
